<!DOCTYPE html>
<html>
<head>
    <title>Ep-Labjef</title>
</head>
<body>
    <h1>Gabriel and Andre MAC0350 Project</h1>

    <ul>
        <li><a href="/usuario">Cadastro de Usuário</a></li>
        <li><a href="/usuarios">Listagem de Usuários</a></li>
        <li><a href="/perfil">Cadastro de Perfil</a></li>
        <li><a href="/perfis">Listagem de Perfis</a></li>
        <li><a href="/servico">Cadastro de Serviço</a></li>
        <li><a href="/servicos">Listagem de Serviços</a></li>
        <li><a href="/curso">Cadastro de Curso</a></li>
        <li><a href="/cursos">Listagem de Cursos</a></li>
        <li><a href="/disciplina">Cadastro de Disciplina</a></li>
        <li><a href="/disciplinas">Listagem de Disciplinas</a></li>
        <li><a href="/servico-pode">Serviços Permitidos por Pessoa</a></li>
        <li><a href="/servicos-usados">Serviços Utilizados agrupado por perfil de pessoas</a></li>
        <li><a href="/top-disciplinas">Top 5 Disciplinas</a></li>
        <li><a href="/top-docentes">Top 5 Docentes</a></li>
    </ul>

    <p>Gabriel da Silva Alves NUSP 11208109</p>
    <p>Andre  NUSP </p>
</body>
</html>
